language: python

python:
  - "3.7"
  - "3.6"

install:
  - pip install torch==1.5.0+cpu torchvision==0.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
  - pip install torch-scatter==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.5.0.html
  - pip install torch-sparse==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.5.0.html
  - pip install torch-cluster==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.5.0.html
  - pip install torch-spline-conv==latest+cpu -f https://pytorch-geometric.com/whl/torch-1.5.0.html
  - pip install torch-geometric
  - pip install -e .
  - pip install -r docs/requirements.txt

script:
  - black .
  - coverage run --source=cogdl -m pytest tests
  - cd docs && make clean && make html && cd ..

after_success:
- coveralls

notifications:
  email: false
