alembic==1.4.3
ase==3.20.1
attrs==20.3.0
cached-property==1.5.2
certifi==2020.11.8
chardet==3.0.4
cliff==3.5.0
cmaes==0.7.0
cmd2==1.4.0
-e git+https://github.com/hmartelb/cogdl.git@04662b2ee30b72fb94099d931938a6ec2312be9b#egg=cogdl
colorama==0.4.4
colorlog==4.6.2
cycler==0.10.0
Cython==0.29.14
dataclasses==0.8
decorator==4.4.2
dgl-cu101==0.5.2
future==0.18.2
gensim==3.8.3
googledrivedownloader==0.4
grave==0.0.3
h5py==3.1.0
idna==2.10
importlib-metadata==2.0.0
isodate==0.6.0
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.3.1
littleutils==0.2.2
llvmlite==0.34.0
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.3
networkx==2.5
numba==0.51.2
numpy==1.19.4
ogb==1.2.3
optuna==2.3.0
outdated==0.2.0
packaging==20.4
pandas==1.1.4
pbr==5.5.1
Pillow==8.0.1
prettytable==0.7.2
pyparsing==2.4.7
pyperclip==1.8.1
pyreadline==2.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.4
PyYAML==5.3.1
rdflib==5.0.0
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
smart-open==3.0.0
SQLAlchemy==1.3.20
stevedore==3.2.2
tabulate==0.8.7
texttable==1.6.3
threadpoolctl==2.1.0
torch==1.7.0+cu101
torch-cluster==1.5.8
torch-geometric==1.6.1
torch-scatter==2.0.5
torch-sparse==0.6.8
torch-spline-conv==1.2.0
torchaudio==0.7.0
torchvision==0.8.1+cu101
tqdm==4.53.0
typing-extensions==3.7.4.3
urllib3==1.26.2
wcwidth==0.2.5
zipp==3.4.0
