sphinx
sphinx_rtd_theme
sphinx-markdown-tables
recommonmark
networkx
matplotlib
tqdm
numpy
scipy
gensim < 4.0
grave
scikit_learn
tabulate
optuna==2.4.0
texttable
ogb
black
pytest
coveralls
https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.6.0+cpu/torch_scatter-2.0.5-cp36-cp36m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.6.0+cpu/torch_sparse-0.6.8-cp36-cp36m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.6.0+cpu/torch_cluster-1.5.8-cp36-cp36m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.6.0+cpu/torch_spline_conv-1.2.0-cp36-cp36m-linux_x86_64.whl
torch-geometric
dgl==0.4.3
numba
transformers
