sphinx==4.2.0
sphinx_rtd_theme==1.0.0
markdown==3.3.4
sphinx-markdown-tables==0.0.15
recommonmark==0.7.1
importlib-metadata<5.0
networkx
matplotlib
tqdm
numpy>=1.21
scipy
gensim>=4.0
grave
scikit_learn==1.0.1
tabulate
optuna==2.4.0
ogb
black
pytest
coveralls
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.7.0+cpu/torch_scatter-2.0.7-cp37-cp37m-linux_x86_64.whl
https://pytorch-geometric.com/whl/torch-1.7.0+cpu/torch_sparse-0.6.9-cp37-cp37m-linux_x86_64.whl
numba
transformers
sentencepiece
sphinx-gallery==0.10.0
geopy==2.2.0